body {
  font-family: "Roboto", "Open Sans", sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

.card {
  border-radius: 0.5rem;
}

.card-body {
  padding: 1.5rem;
}
.card-footer {
  padding: 1rem;
  background-color: #fff;
  border-top: none;
}

.img-thumbnail {
  display: none;
}

.member-tabset {
  margin-top: 1rem;
}

.btn-group {
  gap: 0.5rem;
}
