<div class="container mt-5">
  <div class="text-center">
    @if (!registerMode) {
      <div class="hero">
        <h1 class="display-4">Find Your Doctor Today!</h1>
        <p class="lead">
          Come on in to view your Health Care Professionals. Sign up now and get connected!
        </p>
        <div class="mt-4">
          <button class="btn btn-primary btn-lg me-2" (click)="registerToggle()">Register</button>
          <button class="btn btn-info btn-lg me-2">Learn More</button>
        </div>
      </div>
    } @else {
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-6">
            <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
          </div>
        </div>
      </div>
    }
  </div>
</div>
