<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr />

  <div class="mb-3">
    <label class="margin-right: 10px">I am a: </label>
    <label class="form-check-label">
      <input
        type="radio"
        class="form-check-input"
        value="male"
        formControlName="gender"
      />
      Male
      <input
        type="radio"
        class="form-check-input"
        value="female"
        formControlName="gender"
      />
      Female
      <input
        type="radio"
        class="form-check-input"
        value="other"
        formControlName="gender"
      />
      Other
    </label>
  </div>

  <app-text-input
    [formControl]="$any(registerForm.controls['username'])"
    [label]="'Username'"
  ></app-text-input>
  <app-text-input
    [formControl]="$any(registerForm.controls['knownAs'])"
    [label]="'Known As'"
  ></app-text-input>

  <!-- date picker will show a transparent version, so using default date instead -->
  <app-text-input [formControl]="$any(registerForm.controls['dateOfBirth'])" 
  [label]="'Date of Birth'"
  [type]="'date'">
  </app-text-input>
  <app-text-input
    [formControl]="$any(registerForm.controls['city'])"
    [label]="'City'"
  ></app-text-input>

  <app-text-input
    [formControl]="$any(registerForm.controls['country'])"
    [label]="'Country'"
  ></app-text-input>

  <app-text-input
    [formControl]="$any(registerForm.controls['password'])"
    [label]="'Password'"
    [type]="'password'"
  ></app-text-input>

  <app-text-input
    [formControl]="$any(registerForm.controls['confirmPassword'])"
    [label]="'Confirm Password'"
    [type]="'password'"
  ></app-text-input>


  @if (validationErrors) {
    <div class="alert alert-danger">
      <ul>
        @for (error of validationErrors; track $index) {
          <li>{{error}}</li>
        }
      </ul>
    </div>
  }

  <div class="form-group text-center text-start">
    <button [disabled]="!registerForm.valid" class="btn btn-success me-2">Register</button>
    <button class="btn btn-default me-2" (click)="cancel()" type="button">
      Cancel
    </button>
  </div>
</form>

<p>Form Value: {{ registerForm.value | json }}</p>
<p>Form Status: {{ registerForm.status | json }}</p>
