.mdn-navbar {
  background: linear-gradient(90deg, #e90b0b, #2813e2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mdn-dropdown .dropdown-toggle::after {
  margin-left: 0.5rem;
}

.user-avatar {
  object-fit: cover;
}
